body,
input[type="text"],
button {
  color: #333;
  font-family: Cambria, Georgia, serif;
}

* {
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
  margin-bottom: 0;
}

h2,
h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
body {
  margin: 2em;
}

/* AppComponent's private CSS styles */
nav a {
  padding: 1rem;
  text-decoration: none;
  margin-top: 10px;
  margin-left: 3px;
  display: inline-block;
  background-color: #e8e8e8;
  color: #3d3d3d;
  border-radius: 4px;
  transition: background-color linear 100ms;
}

nav a:hover {
  color: white;
  background-color: hsla(198, 16%, 31%, 0.75);
}
nav a.active {
  background-color: black;
}

.selected {
  color: #e4e4e4 !important;
  background-color: #42545c !important;
}
